body  {
  padding: 30px; /*little bit of space in the body*/
  font-family: sans-serif;
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}
h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;

}

h2  {
  font-size: 30px;
}
.established  {
  font-style: italic;
}
h1, h2, p  {
  text-align: center;
}

.menu  {
  width: 80%;
  max-width: 500px;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

img  {
  display: block;
  margin-top: -25px; /* space between icon and h2 smaller then default */
  margin-left: auto;
  margin-right: auto;

}
hr  {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line  {
  margin-top: 25px;
}

h1, h2  {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.flavor, .dessert  {
  width: 75%;
  text-align: left;
}

.price  {
  font-size: 18px;
  width: 25%;
  text-align: right;
}

.item p {
  font-size: 18px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* FOOTER */

footer  { font-size: 14px; }

.adress  {
  margin-bottom: 5px;
}

a  { color: black; }

a:visited  { color: grey; }

a:hover  { color: brown; }

a:active  { color: white; }