body  {
  background-color: beige;
  
}
h1  {
  font-family: 'Courier', Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
  
  
}

.menu  {
  width: 80%;
  max-width: 500px;
  background-color: rgb(63, 12, 87);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.marker {
  margin: 10px auto; /* 10px =>top/bottom */
  width: 200px;
  height: 25px;

}
.cap  {
  width: 60px;
  height: 25px;
}
.sleeve  {
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-left-width: 10px;
  border-left-style: double;
  border-left-color: rgba(0,0, 0, 75%);
  /* shorthand => border-left: 10px solid black; */

  
}

.cap, .sleeve  {
  display: inline-block;
}

.red  {
  background: linear-gradient(180deg, rgb(122,74,14), rgb(245,62,113), rgb(162,27,27) );
  box-shadow: 0px 0px 20px 0px rgba(83, 14, 14, 0.8);
 /* background-color: rgb(255,0,0); /*red  => primary color*/
 /*  background-color: rgb(255,255,0); yellow => sec color */
 /*background-color: rgb(255, 127, 0); /* tertiary color green*/
}


.green  {
  background: linear-gradient(180deg, #55680D, #71F53E, #116c31);
  box-shadow: 0px 0px 20px 0 #3B7E20CC;

  /* background-color: rgb(0,255,0); green => primary color */
  /*background-color: #007f00;*/

}

.blue  {
  background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
  box-shadow: 0px 0px 20px 0 hsla(223, 59%, 31%, 0.8);
  /* background-color: rgb(0,0,255); blue => primary color */
 /* background-color: rgb(0, 0, 0);*/
}

.container  {
  background-color: rgb(255,255,255);
  padding: 10px 0px; /* 10px => top/bottom */
}